@model TreatiseTeacherViewModel
@{
    var isfirst = true;
}
<h3 class="tydvrg_tit">毕业论文成绩</h3>

<div class="tysearch_c bd_rd5 ps">
    <form action="@Url.Action("search")" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage">
        <input type="text" class="tyshtxt" placeholder="学号/姓名" name="keywords"><button type="submit" class="tyshbut"></button>
    </form>
</div>
<div id="content_cp" class="cdiv ps" style="height:90%;">
    <div class="dhg2"></div>
    <div class="r_con_over wid_a100 chenposi" id="abloeds" tabindex="5000" style="overflow: hidden; outline: none;">
        <div class="cdiv">
            <div class="dhg3"></div>
            @foreach (var item in Model.TeacherStudent)
            {
                <div class="addvcp">
                    <div class="xslw_manven_project">@item.Student.UserInfo.TrueName </div>
                    <div class="xslw_manven_project_content" style="@(isfirst ? "" : "display: none")">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>流程顺序</th>
                                    <th>流程名称</th>
                                    <th>时间分/标准时间分</th>
                                    <th>质量分/标准质量分</th>
                                    <th>流程状态</th>
                                    <th>成绩</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var process in Model.ProcessList.OrderBy(d => d.Sort))
                                {
                                    var stupr = item.StudentProcesses.FirstOrDefault(d => d.ProcessID == process.ID);
                                    <tr>
                                        <td>@process.Sort</td>
                                        <td>@process.ProcessName</td>
                                        @if (stupr != null)
                                        {
                                            <td>
                                                @(stupr.TimeMark ?? 0 ) / @process.TimeMark
                                            </td>
                                            <td>
                                                @(stupr.QualityMark ?? 0) / @process.QualityMark
                                            </td>
                                            <td class="center">
                                                @SelectListHelper.TreatiseProcessOpenName(process.IsOpen)
                                            </td>
                                            <td>
                                                @stupr.TotalMark
                                            </td>
                                            <td>
                                                @if (stupr.ScoreTime != null)
                                                {
                                                    <span><a class="btn btn-primary" href="@Url.Action("detail", new {id = stupr.ID})" data-ajax-update="#teacherpage" data-ajax-mode="replace" data-ajax="true">查看</a></span>
                                                }
                                                else
                                                {
                                                    <span>暂未提交</span>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td colspan="6">暂未提交</td>
                                        }

                                    </tr>

                                }


                            </tbody>
                        </table>
                    </div>
                    <div class="dhg2"></div>
                </div>

                isfirst = false;
            }
        </div>
    </div>
</div>
