@model OpeningReport
@{
    var student = AjaxHelpsController.GetUserInfo(Model.StudentID, 2);
}
<style>
    .ablogs_pwd_item label {
        width: 14em;
    }
</style>
<h3 class="tydvrg_tit">学生课题审核</h3>
<div class="dhg2"></div>
<div id="content_cp" class="cdiv ps" style="height:90%;">
    <div class="dhg2"></div>
    <div class="r_con_over chenposi" id="abloeds" tabindex="5000" style="overflow: hidden; outline: none;">
        <form method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage" action="@Url.Action("check",new {id=Model.ID})" id="formcheck">
            <div class="ablogs_pwd">
                <div class="ablogs_pwd_item">
                    <label>课题名称：</label>
                    @Model.TreatiseSubject.SubjectTitle
                </div>
                @if (student != null)
            {
                    <div class="ablogs_pwd_item">
                        <label>学号：</label>
                        @student.LoginName
                    </div>
                    <div class="ablogs_pwd_item">
                        <label>学生姓名：</label>
                        @student.TrueName
                    </div>
                    <div class="ablogs_pwd_item">
                        <label>所属专业：</label>
                        @StaticHelper.GetSchoolName(student.SchoolID ?? 0)
                    </div>
                    <div class="ablogs_pwd_item">
                        <label>个人简介：</label>
                        @(student.Comment ?? "暂未填写")
                    </div>
                }
                else
                {
                    <div class="ablogs_pwd_item">
                        <label></label>
                        未找到对应学生！
                    </div>
                }

                @if (Model.TreatiseSubject.Treatise.IsReport == 1)
                {
                    <div class="ablogs_pwd_item">
                        <label>本选题的研究目的及意义：</label>
                        @Html.Raw(Model.Meaning)
                    </div>
                    <div class="ablogs_pwd_item">
                        <label>国内外研究状况评述：</label>
                        @Html.Raw(Model.Review)
                    </div>
                    <div class="ablogs_pwd_item">
                        <label>本课题的研究内容及写作大纲：</label>
                        @Html.Raw(Model.Outline)
                    </div>
                    <div class="ablogs_pwd_item">
                        <label>本课题完成措施及进度计划：</label>
                        @Html.Raw(Model.Plan)
                    </div>
                    <div class="ablogs_pwd_item">
                        <label>主要参考文献：</label>
                        @Html.Raw(Model.Reference)
                    </div>
                }
                @if (student != null)
                {
                    <div class="ablogs_pwd_item">
                        <label>评阅老师：</label>
                        @Html.DropDownListFor(d => d.ReviewID, ViewBag.ReviewID as SelectList)
                    </div>
                }
                <div class="ablogs_pwd_item">
                    <label>指导教师意见：</label>
                    @Html.TextBoxFor(d => d.TeacherComment, new { @class = "wid300 text_indent1 kindeditor" })
                </div>
                <div class="ablogs_pwd_item">
                    <label> </label>
                    @Html.HiddenFor(d => d.CollegeState)
                    <button class="btn btn-primary" type="button" onclick="submitbtn(1)">通过</button>
                    <button class="btn btn-primary" type="button" onclick="submitbtn(3)">不通过</button>
                    <a class="btn btn-white" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage" href="@Url.Action("search")">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $.getScript("/Content/scrollbar/js/minified/jquery.mCustomScrollbar.min.js", function () {
        $.getScript("/Content/kindeditor/kindeditor-all-min.js", function () {

            $("#abloeds").mCustomScrollbar({
                scrollButtons: {
                    enable: true
                },
                theme: "dark-thin"
            });

            // data 是该请求返回的数据(可能经过处理)
            // textStatus 可能是"success"、 "notmodified"等
            // jqXHR 是经过jQuery封装的XMLHttpRequest对象(保留其本身的所有属性和方法)
            KindEditor.basePath = '/Content/kindeditor/';

            KindEditor.create('input[class="kindeditor"]', {
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: false,
                afterBlur: function () { this.sync(); },
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });

        });
    });
    function submitbtn(id) {
        var tea = $("#ReviewID").val() - 0;
        if (id == 1 && tea < 1) {
            layer.alert("请选择审阅老师！");
            return;
        }
        $("#CollegeState").val(id);
        $("#formcheck").submit();
    }
</script>
