@model   Pager<TagLib>
<link href="~/Content/admin/css/plugins/chosen/chosen.css" rel="stylesheet" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>标签管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/prms/">主页</a>
            </li>
            <li>
                <strong>标签管理</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>标签管理</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <form action="@Url.Action("search")" method="post">
                                    <div class="col-sm-6">
                                        @Html.DropDownList("TagType", ViewBag.TagType as SelectList, new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="keyword" placeholder="名称">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-primary">
                                                    搜索
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-1 col-md-offset-7">
                            <div class="input-group">
                                <a class="btn btn-sm btn-primary" href="/prms/taglib/add"> 添加</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>标签名称</th>
                                    <th>工具或资源</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="item_@item.ID">
                                        <td>@item.TagName</td>
                                        <td>@SelectListHelper.GetType(item.TagType)</td>
                                        <td>@string.Format("{0:d}", item.CreateTime)</td>
                                        <td>
                                            <a href="/prms/taglib/edit/@item.ID" class="btn btn-info ">
                                                <i class="fa fa-paste"></i>编辑
                                            </a>
                                            <a href="#" class="btn btn-info" onclick="btndel(@item.ID)">
                                                <i class="fa fa-paste"></i>刪除
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @UIHelper.PageHelper("taglib", Model.TotalPages, Model.PageIndex, Model.PageSize, Model.TotalCount, Model.HasPreviousPage, Model.HasNextPage, Model.PageList)
                </div>
                </div>
            </div>
        </div>
    </div>
@section scripts{
    <script src="~/Content/admin/js/plugins/chosen/chosen.jquery.js"></script>
    <script>
        $(document).ready(function () {
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': {
                    allow_single_deselect: true
                },
                '.chosen-select-no-single': {
                    disable_search_threshold: 10
                },
                '.chosen-select-no-results': {
                    no_results_text: 'Oops, nothing found!'
                },
                '.chosen-select-width': {
                    width: "95%"
                }
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
        });
    </script>
<script>
    function btndel(id) {
        layer.confirm('"删除后数据无法恢复，确定要删除吗?"', { icon: 3, title: '确认删除' }, function (index) {
            $.post("@Url.Action("delete")", { id: id }, function (data) {
                if (data == "OK") {
                    layer.msg("删除成功！");
                    $("#item_" + id).hide();
                } else {
                    layer.alert(data);
                }
            });
            layer.close(index);
        });
    }
</script>


}