@model SchoolDTO
<div class="row">
    <div class="col-lg-10">
        <div class="input-group">
            <form action="@Url.Action("search")" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#studentpage">
                <div class="col-lg-6">
                    <input type="text" class="form-control" name="stuno" placeholder="学号">
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" name="stuname" placeholder="姓名">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                搜索
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="input-group">
            <a class="btn btn-sm btn-primary" href="@Url.Action("add",new { id=Model.SchoolID})"> 添加</a>
            <a class="btn btn-sm btn-primary" href="@Url.Action("import",new { id=Model.SchoolID})"> 导入</a>
        </div>
    </div>

</div>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.StudentPage)
            {
                <tr id="item_@item.ID">
                    <td>@item.UserInfo.LoginName</td>
                    <td>@item.UserInfo.TrueName</td>
                    <td>@item.UserInfo.Tel</td>
                    <td>@item.UserInfo.Email</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-warning " onclick="resetpwd(@item.InfoID)">
                            <i class="fa fa-paste"></i>
                            重置密码
                        </a>
                        <a href="@Url.Action("edit", new {id = item.ID})" class="btn btn-sm btn-info ">
                            <i class="fa fa-paste"></i>
                            编辑
                        </a>
                        <a href="@Url.Action("detail", new {id = item.ID})" class="btn btn-sm btn-info">
                            <i class="fa fa-paste"></i>
                            查看
                        </a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-danger" onclick="btndel(@item.ID)">
                            <i class="fa fa-paste"></i>
                            刪除
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@UIHelper.AjaxPageHelper("#studentpage", "student","id",Model.SchoolID.ToString(), Model.StudentPage.TotalPages, Model.StudentPage.PageIndex, Model.StudentPage.PageSize, Model.StudentPage.TotalCount, Model.StudentPage.HasPreviousPage, Model.StudentPage.HasNextPage, Model.StudentPage.PageList)