@model StudentLog
<div class="dhg2"></div>
<div class="cdiv ps" id="content_cp" style="height: 85%;">
    <form method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage" action="@Url.Action("reply")">
        <div class="dhg2"></div>
        <div class="r_con_over chenposi" id="abloeds" tabindex="5000" style="overflow: hidden; outline: none;">
            <div class="ablogs_pwd">
                <div class="tydl ptmg_stp_dl">
                    <lable>日志所属课题：</lable>
                        @((Model.TreatiseStudent != null && Model.TreatiseStudent.TreatiseSubject != null) ? Model.TreatiseStudent.TreatiseSubject.SubjectTitle : "未选题")                 
                </div>
                <div class="dhg2"></div>
                <dl class="tydl ptmg_stp_dl">
                    <lable>标题：</lable>
                        @Model.Title
                </dl>
                <div class="dhg2"></div>
                <dl class="tydl ptmg_stp_dl">
                    <leble>内容：</leble>
                        @Html.Raw(Model.Content)
                </dl>
                <div class="dhg3"></div>
                <h3>历史回复:</h3>
                @foreach (var item in Model.StudentLogComments.Where(d => d.State == 1).OrderByDescending(d => d.CreateTime))
                {
                    <div class="tydl ptmg_stp_dl">
                        @switch ((UserInfoType)(item.UserType ?? 0))
                        {
                            case UserInfoType.Teacher:
                                <lable>@(item.Teacher != null ? item.Teacher.UserInfo.TrueName : "未知用户") ：</lable>
                                break;
                            case UserInfoType.Student:
                            <lable>@(item.Student != null ? item.Student.UserInfo.TrueName : "未知用户") ：</lable>
                                break;
                            default:
                            <label>未知用户 ：</label>
                                break;
                        }
                        <div class="stp_txtarea">
                            @Html.Raw(item.Content)
                        </div>
                    </div>
                }


                <div class="ablogs_pwd_item">
                    <label>回复：</label>
                    @Html.TextBoxFor(d => d.Content, new { @Value = "" })
                </div>
                <div class="ablogs_pwd_item">
                    <label></label>
                    <button class="tydv_btn_pka bd_rd5 fl" type="submit">保存内容</button>
                    <a class="tydv_btn_pka bd_rd5 fl" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage" href="@Url.Action("search")">取消</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function btndel(id) {
        if (confirm("删除后数据无法恢复，确定要删除吗?")) {
            $.post("/studentsys/studentlog/deletehuifu", { id: id }, function (data) {
                if (data == "OK") {
                    alert("删除成功！");
                    window.location.reload();
                } else {
                    alert(data);
                }
            });
        };
    }
</script>
<script>
    $.getScript("/Content/scrollbar/js/minified/jquery.mCustomScrollbar.min.js", function () {
        $.getScript("/Content/kindeditor/kindeditor-all-min.js", function () {

            $("#abloeds").mCustomScrollbar({
                scrollButtons: {
                    enable: true
                },
                theme: "dark-thin"
            });
            KindEditor.basePath = '/Content/kindeditor/';

            var editor = KindEditor.create('#Content', {
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: false,
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });

        });
    });
</script>
