@model Treatise
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">标题:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.TreatiseName</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-2 control-label">选择专业:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@StaticHelper.GetSchoolFullName(Model.SchoolID ?? 0)</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">开题报告方式:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@SelectListHelper.TreatiseIsReportName(Model.IsReport)</p>
                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">开始时间:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@string.Format("{0:yyyy-MM-dd}", Model.StartTime)</p>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">结束时间:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@string.Format("{0:yyyy-MM-dd}", Model.EndTime)</p>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述:</label>
                    <div class="col-sm-10 form-control-static">
                        @Html.Raw(Model.Comment)
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">选题显示老师姓名:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@SelectListHelper.TreatiseShowTeacherName(Model.ShowTeacher)</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">选题方式:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@SelectListHelper.TreatiseChooseTeacherName(Model.ChooseTeacher)</p>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">时间分:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.TimeGrades</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">质量分:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.QualityGrades</p>

                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">及格分:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.PassMark</p>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">阶段开启模式:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@SelectListHelper.TreatiseStageModeName(Model.StageMode)</p>
                        </div>
                    </div>
                </div>
            </form>     
        </div>
    </div>
</div>
