@model Pager<Treatise>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>项目管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/prms/">主页</a>
            </li>
            <li>
                <strong>项目管理</strong>
            </li>
            <li>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">

                                <form action="/prms/treatise/search" method="post">
                                    <div class="input-group">
                                        <input type="text" name="keyword" placeholder="项目标题" class="form-control"> <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">
                                                搜索
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-1 col-md-offset-7">
                            <div class="input-group">
                                <a class="btn btn-sm btn-primary" href="/prms/treatise/add"> 添加</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>项目标题</th>
                                    <th>专业</th>
                                    <th>项目状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.TreatiseName</td>
                                        <td>@item.School.InfoName</td>
                                        <td>@SelectListHelper.TreatiseStartName(item.StageMode)</td>
                                        <td>
                                            @if (item.StageMode == 0)
                                            {
                                                <a href="/prms/treatise/edit/@item.ID" class="btn btn-info ">
                                                    <i class="fa fa-paste"></i>
                                                    编辑
                                                </a>
                                                <a href="#" class="btn btn-info" onclick="btndel(@item.ID)">
                                                    <i class="fa fa-paste"></i>
                                                    刪除
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/prms/treatise/edit/@item.ID" class="btn btn-info ">
                                                    <i class="fa fa-paste"></i>
                                                    论文详情
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @UIHelper.PageHelper("treatise", Model.TotalPages, Model.PageIndex, Model.PageSize, Model.TotalCount, Model.HasPreviousPage, Model.HasNextPage, Model.PageList)
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function btndel(id) {
        if (confirm("删除后数据无法恢复，确定要删除吗?")) {
            $.post("/prms/treatise/delete", { id: id }, function (data) {
                if (data == "OK") {
                    alert("删除成功！");
                    window.location.reload();
                } else {
                    alert(data);
                }
            });
        };
    }
</script>