@model UserDTO
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>学生查看</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/prms/">主页</a>
            </li>
            <li>
                <a href="/prms/studnet">学生管理</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <small>学生查看</small>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" id="student-From">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">学号:</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">@Model.UserInfo.LoginName</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">姓名:</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">@Model.UserInfo.TrueName</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">联系电话:</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">@Model.UserInfo.Tel</p>
                            </div>
                        </div><div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">邮箱:</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">@Model.UserInfo.Email</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">QQ:</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">@Model.UserInfo.QQ</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">微信:</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">@Model.UserInfo.WeChat</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">性别:</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">@SelectListHelper.GetSexName(Model.UserInfo.Sex)</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" onclick="return confirm('返回后您输入的数据将不被储存，确认返回吗？')" href="/prms/user">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>