@model  IEnumerable<ImportSchoolViewModel>
<link href="~/Content/admin/css/plugins/webuploader/webuploader.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>学校管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/prms/">主页</a>
            </li>
            <li>
                <strong>学校管理</strong>
            </li>
            <li>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>导入院系专业</h5>
                </div>
                <div class="ibox-content">
                    @if (Model == null)
                    {
                        <form method="post" class="form-horizontal" id="User-From" action="@Url.Action("import")">
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    1、每次上传仅能上传一个文件<br />
                                    2、文件格式仅限xls后缀的excel文件
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a href="~/Content/Excel/院系信息导入模板.xls" class="btn btn-primary">模板下载</a>

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <div id="uploader">
                                        <!--用来存放文件信息-->
                                        <div id="thelist" class="uploader-list"></div>
                                        <div class="btns">
                                            <div id="picker">选择文件</div>
                                            <input id="filepath" name="filepath" type="hidden" datatype="*" nullmsg="请先上传模板！" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                    <button class="btn btn-white" type="button" onclick="if (confirm('返回后您输入的数据将不被储存，确认返回吗？')) { window.location.href = '/prms/school' }">取消</button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>院名称</th>
                                    <th>系名称</th>
                                    <th>专业名称</th>
                                    <th>年级名称</th>
                                    <th>班级名称</th>
                                    <th>状态</th>
                                    <th>信息</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Department</td>
                                        <td>@item.College</td>
                                        <td>@item.Specialty</td>
                                        <td>@item.Grade</td>
                                        <td>@item.ClassName</td>
                                        @switch (item.State)
                                        {
                                            case 1:
                                                <td>正常</td>
                                                break;
                                            case 2:
                                                <td><b style='color:green'>注意！</b></td>
                                                break;
                                            default:
                                                <td><b style='color:red'>非正常！</b></td>
                                                break;
                                        }
                                        @if (item.State == 1)
                                        {
                                            <td>@Html.Raw(item.Message)</td>
                                        }
                                        else
                                        {
                                            <td style="color:red">@Html.Raw(item.Message)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-10">
                                @if (Model.All(d => d.State != 0))
                                {
                                    <button class="btn btn-primary" type="button" onclick="submitschool(this)">保存</button>
                                }
                                <button class="btn btn-white" type="button" onclick="if (confirm('返回后您输入的数据将不被储存，确认返回吗？')) { window.location.href = '/prms/school' }">取消</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/Admin/js/plugins/webuploader/webuploader.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#User-From").Validform({
                tiptype: 4,
                ignoreHidden: false
            })
            var uploader = WebUploader.create({
                auto: true,
                // swf文件路径
                swf: + '/Content/js/Uploader.swf',
                // 文件接收服务端。
                server: '@Url.Action("excel","upLoad")',
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: {
                    id: '#picker',
                    multiple: false,
                },

                // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                resize: false,
                fileNumLimit: 1,
                fileSingleSizeLimit: 5 * 1024 * 1024,
                // 只允许选择Excle文件。
                accept: {
                    title: 'Excles',
                    extensions: 'xls',
                }
            });

            //验证文件格式以及文件大小
            uploader.on("error", function (type) {
                if (type == "Q_TYPE_DENIED") {
                    alert("请上传xls格式文件");
                } else if (type == "F_EXCEED_SIZE") {
                    alert("文件大小不能超过5M");
                }
            });
            // 当有文件被添加进队列的时候
            uploader.on('fileQueued', function (file) {
                $("#thelist").append('<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                '</div>');
            });
            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                    $percent = $li.find('.progress .progress-bar');

                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<div class="progress progress-striped active">' +
                      '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                      '</div>' +
                    '</div>').appendTo($li).find('.progress-bar');
                }

                $li.find('p.state').text('上传中');

                $percent.css('width', percentage * 100 + '%');
            });
            uploader.on('uploadSuccess', function (file, response) {
                $('#' + file.id).find('p.state').text('已上传');
                $("#filepath").val(response.FilePath);
            });

            uploader.on('uploadError', function (file) {
                $('#' + file.id).find('p.state').text('上传出错');
            });

            uploader.on('uploadComplete', function (file) {
                $('#' + file.id).find('.progress').fadeOut();
            });
        });
        function submitschool(e) {
            var ii = layer.load('导入中，请不要刷新页面……');
            $(e).hide();
            $.get("@Url.Action("importdb")", function (data) {
                if (data.State == 0) {
                    alert(data.ErrorMessage);
                } else {
                    alert("导入成功！");
                    window.location.href = '@Url.Action("index")';
                }
            });
            layer.close(ii);
        }
    </script>
}
