@model OpeningReport
@{
    var student = AjaxHelpsController.GetUserInfo(Model.StudentID, 2);
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">课题名称:</label>
                            <div class="col-sm-8  form-control-static">
                                @(Model.TreatiseSubject != null ? Model.TreatiseSubject.SubjectTitle : "暂未选题")
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">学号:</label>
                            <div class="col-sm-4 form-control-static">
                                @student.LoginName
                            </div>
                            <label class="col-sm-2 control-label">学生姓名:</label>
                            <div class="col-sm-4 form-control-static">
                                @student.TrueName
                            </div>
                        </div>
                        @if (Model.TreatiseSubject.Treatise.IsReport == 1)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">本选题的研究目的及意义:</label>
                                <div class="col-sm-8 form-control-static">
                                    @Html.Raw(Model.Meaning)
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">国内外研究状况评述:</label>
                                <div class="col-sm-8 form-control-static">
                                    @Html.Raw(Model.Review)
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">本课题的研究内容及写作大纲:</label>
                                <div class="col-sm-8 form-control-static">
                                    @Html.Raw(Model.Outline)
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">本课题完成措施及进度计划:</label>
                                <div class="col-sm-8 form-control-static">
                                    @Html.Raw(Model.Plan)
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">主要参考文献:</label>
                                <div class="col-sm-8 form-control-static">
                                    @Html.Raw(Model.Reference)
                                </div>
                            </div>
                        }
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">审核结果:</label>
                            <div class="col-sm-8 form-control-static">
                                @SelectListHelper.GetTreatiseOpeningCheckStateName(Model.CollegeState)
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">导师审核结论:</label>
                            <div class="col-sm-8 form-control-static">
                                @Html.Raw(Model.TeacherComment)
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">管理员审核结论:</label>
                            <div class="col-sm-8 form-control-static">
                                @Html.Raw(Model.CollegeComment)
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-8">
                                <a class="btn btn-info" href="@Url.Action("search")" data-ajax-update="#tab-studentsubject" data-ajax-mode="replace" data-ajax="true">
                                    返回
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>