@{Layout = "~/Areas/TeacherSys/Views/Shared/_Layout.cshtml";}
@model Notice
    <div class="cdiv pd20 ptmg ow tyhg5" id="teacherpage">
        <form class="ablogs_pwd" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#teacherpage" action="@Url.Action("detail")">
            <div class="r_con">
                <div class="tydl gbdv">
                    <div class="tydl ptmg_stp_dl">
                        <div class="ablogs_pwd_item">
                            <label>创建人：</label>
                            @Html.Raw(@StaticHelper.AdminName(Model.CreateUserID))
                        </div>
                        <div class="ablogs_pwd_item">
                            <label>通知标题：</label>
                            @Html.Raw(Model.Title)
                        </div>
                        <div class="ablogs_pwd_item">
                            <label>通知内容：</label>
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                </div>
            </div>
            <div class="cdiv_cen" id="mg-btn-pos" style="height: 10%;width: 15%">
                <dl class="tydl mytc_ad2">
                    <dd>
                        <a class="tydv_btn_pka bd_rd5 fr" href="/studentsys">取消</a>
                    </dd>
                </dl>
            </div>
        </form>
    </div>